<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>liberecoWeb</display-name>

    <!-- TODO: Remove if we end up using the alternative approach -->

<!-- 

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>org.restlet.component</param-name>
		<param-value>liberecoRestletComponent</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/classes/liberecoMiddleware-applicationContext.xml</param-value>
	</context-param>

	<servlet>
		<servlet-name>testRestletSpringServlet</servlet-name>
		<servlet-class>org.restlet.ext.spring.SpringServerServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>testRestletSpringServlet</servlet-name>
		<url-pattern>/test/*</url-pattern>
	</servlet-mapping>
 -->
 
	<!-- Alternative adapter (if we don't want to wire things using Spring in 
		web.xml) -->
	<servlet>
		<servlet-name>liberecoRestletServlet</servlet-name>
		<servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
		<init-param>
			<!-- Application class name -->
			<param-name>org.restlet.application</param-name>
			<param-value>com.libereco.server.rest.restlet.RestletApplication</param-value>
		</init-param>

	</servlet>

	<!-- Catch all test requests -->
	<servlet-mapping>
		<servlet-name>liberecoRestletServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

<!-- 
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
 -->	
</web-app>