<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<Configuration>

  <!-- soap server, for production, use: https://api.ebay.com/wsapi -->
  <ServerUrl>https://api.sandbox.ebay.com/wsapi</ServerUrl>
  <!-- eps server, for production, use: https://api.ebay.com/ws/api.dll -->
  <EpsServerUrl>https://api.sandbox.ebay.com/ws/api.dll</EpsServerUrl>
  <SignInUrl>https://signin.sandbox.ebay.com/ws/eBayISAPI.dll?SignIn</SignInUrl>

  <!--LogFilePath>SanityTest.log</LogFilePath-->

  <ApiCredential>
    <Developer>74c52e41-c565-4b16-8989-44b4a1d7fb2d</Developer>
    <Application>RegCared-f1ed-4eb7-923d-cb91e99d8518</Application>
    <Certificate>83ae77ea-4b93-48f6-9535-4d7b60c417d8</Certificate>
  </ApiCredential>

  <eBayCredential>
    <!-- Token is used for both API server and EPS server -->
    <Token></Token>
  </eBayCredential>
  <RuName></RuName>
  
  <!-- set this if you access eBay API server behind a proxy -->
  <Proxy>
   <Host></Host>
   <Port></Port>
   <!-- set username/password if necessary -->
   <Username></Username>
   <Password></Password>
  </Proxy>

</Configuration>